:root {
  --font-green: #01a746;
  --green: #2ee59d;
  --dark-green: #13be79;
  --shadow-green: rgba(46, 229, 157, 0.4);
  --grey: rgba(0, 0, 0, 0.1);
  --light-red: rgb(251, 160, 160);
  --nav-h: 10vh;
  --main-p: 5%;
  --main-p-t: 5%;
  --main-p-l-extra: 10%;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0 !important;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(183, 181, 181);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--shadow-green);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-green);
}

.tox-tbtn {
  pointer-events: none;
}

.tox-tbtn--active {
  pointer-events: auto;
}

.editor-container {
  padding: 0;
}

.content-container {
  height: 100%;
}

#mceControl {
  height: 90%;
  min-height: 20rem;
}

.suggestions {
  padding-left: 0;
}

.suggestions-header {
  margin-left: 1rem;
  margin-top: -8px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-toggler:hover {
  border-color: var(--green);
}

.navbar-toggler:hover > .navbar-toggler-icon {
  filter: invert(40%) sepia(94%) saturate(1696%) hue-rotate(119deg) brightness(91%) contrast(99%);
}

.navbar-nav li.active > a {
  transition: all 0.3s ease 0s;
  color: var(--font-green) !important;
}

.navbar-nav li {
  transition: all 0.3s ease 0s;
  font-size: 1.2rem;
}

a {
  color: black !important;
}

a:hover {
  color: var(--font-green) !important;
}

.tinymce {
  margin: 0 !important;
}

.navbar {
  padding: 1rem 2rem;
  box-shadow: 0px 5px 40px var(--shadow-green);
  height: var(--nav-h) !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 100 !important;
  margin: 0 !important;
}

.gap-1 {
  gap: 1rem;
}

.main-container {
  /* opera */
  height: -o-calc(100vh - var(--nav-h));
  /* google, safari */
  height: -webkit-calc(100vh - var(--nav-h));
  /* firefox */
  height: -moz-calc(100vh - var(--nav-h));
  height: calc(100vh - var(--nav-h));
  padding: var(--main-p-t) var(--main-p) var(--main-p) var(--main-p);
  overflow: hidden;
  background: rgb(176, 255, 224);
  background: linear-gradient(0deg, rgba(176, 255, 224, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(254, 254, 254, 1) 100%);
}

.editor {
  display: flex;
}

.editor_active {
  border: var(--shadow-green) 2px solid !important;
}
.editor_inactive {
  border: black 1px !important;
}

.tox-statusbar__text-container {
  display: none !important;
}

.tox-statusbar {
  border: 0px !important;
}

.editor-button {
  margin: 1rem 1rem 2rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  min-width: fit-content;
}

.button-red {
  background: var(--light-red) !important;
  color: white !important;
}

.button-red:hover {
  background: var(--red) !important;
  box-shadow: 0px 15px 20px var(--light-red) !important;
}

.button-green {
  background: var(--green) !important;
  color: white !important;
}

.button-green:hover {
  background: var(--dark-green) !important;
  box-shadow: 0px 15px 20px var(--shadow-green) !important;
}

.fix-all-button {
  display: none;
}

.mistakes {
  margin-top: 2rem;
  max-height: 55vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.mistakes:hover {
  overflow-y: auto;
}

del,
strike {
  text-decoration: none;
  line-height: 1.4;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(0.63em, transparent),
    color-stop(0.63em, #ff0000),
    color-stop(0.7em, #ff0000),
    color-stop(0.7em, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    top,
    transparent 0em,
    transparent 0.63em,
    #ff0000 0.63em,
    #ff0000 0.7em,
    transparent 0.7em,
    transparent 1.4em
  );
  background-image: -o-linear-gradient(
    top,
    transparent 0em,
    transparent 0.63em,
    #ff0000 0.63em,
    #ff0000 0.7em,
    transparent 0.7em,
    transparent 1.4em
  );
  background-image: linear-gradient(
    to bottom,
    transparent 0em,
    transparent 0.63em,
    #ff0000 0.63em,
    #ff0000 0.7em,
    transparent 0.7em,
    transparent 1.4em
  );
  -webkit-background-size: 1.4em 1.4em;
  background-size: 1.4em 1.4em;
  background-repeat: repeat;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-footer {
  border: none;
  gap: 1rem;
}

.show-more {
  color: black;
}

.show-more:hover {
  color: var(--font-green);
}

.button {
  width: 140px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: black;
  background-color: white;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.fix-button {
  background-color: var(--green);
  color: white;
}

.button:hover {
  background-color: var(--dark-green);
  box-shadow: 0px 15px 20px var(--shadow-green);
  color: white;
  border: none;
}

.action-buttons {
  display: flex;
  gap: 1rem;
  margin: 2rem 0 2rem 0;
}

.mistake {
  margin: 1rem;
  box-shadow: 0px 8px 15px var(--grey);
  background-color: white;
  transition: all 0.3s ease 0s;
}

.selected {
  box-shadow: 0px 15px 20px var(--shadow-green);
  transition: all 0.3s ease 0s;
}

.popover {
  box-shadow: 0px 10px 20px var(--shadow-green) !important;
  border: none !important;
  margin: 0;
  background: white !important;
}

.arrow {
  visibility: hidden !important;
}

.popover-body {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 0.3rem !important;
}

.popover-icons {
  display: flex;
  padding: -0.3rem !important;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  margin: 0 0.2rem;
}

.icon {
  width: 20px !important;
  height: 20px !important;
  margin: 0 0.2rem !important;
}

.icon:hover {
  background-color: var(--grey);
  border-radius: 100%;
  cursor: pointer;
}

.popover-text {
  padding-right: 1rem !important;
}

.popover-text:hover {
  color: var(--font-green);
  cursor: pointer;
}

pre {
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

@media screen and (max-width: 338px) {
  .editor-container {
    margin-bottom: 10rem !important;
  }

  .editor-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 560px) {
  .gap-1 {
    gap: 0.5rem;
  }

  .mobile-nav {
    margin-top: 1rem;
  }

  .navbar {
    height: fit-content !important;
  }
}

@media screen and (max-width: 760px) {
  .main-container {
    height: 100%;
    overflow: auto;
  }

  .editor-container {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1300px) {
  .navbar {
    padding-right: 5rem;
    padding-left: 10rem;
  }

  .suggestions {
    padding-left: 3rem;
  }

  .main-container {
    padding-right: var(--main-p-l-extra) !important;
    padding-left: var(--main-p-l-extra) !important;
  }
}
