html,
body {
  height: 100%;
  width: 100%;
}

.main-container {
  padding: 2rem;
}

.editor {
  display: flex;
}

.tox-statusbar__text-container {
  display: none !important;
}

.tox-statusbar {
  border: 0px !important;
}

.copy-button {
  margin: 1rem 1rem 1rem 0;
}

#fix-all {
  display: none;
}

.mistakes {
  max-height: 78vh;
  overflow: scroll;
  background-color: #ededed;
}

.mistake {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
}

.selected {
  border: 1px solid red;
}

/* .tox-tinymce {
  border: 0px !important;
} */

pre {
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}
