html,
body {
  height: 100%;
  width: 100%;
}

.main-container {
  margin: 1rem;
  padding: 2rem;
}

.editor {
  display: flex;
}

.tox-statusbar__text-container {
  display: none !important;
}

.tox-statusbar {
  border: 0px !important;
}

.copy-button {
  margin: 1rem 1rem 1rem 0;
}

.mistakes-container {
  display: none;
}

.mistake {
  padding: 1rem;
}

.selected {
  border: 1px solid red;
}

/* .tox-tinymce {
  border: 0px !important;
} */
