html,
body {
  height: 100%;
  width: 100%;
}

.main-container {
  margin: 1rem;
}

.editor {
  display: flex;
}

.tox-statusbar__text-container {
  display: none !important;
}

.tox-statusbar {
  border: 0px !important;
}

.mistakes-container {
  display: none;
}

/* .tox-tinymce {
  border: 0px !important;
} */
